.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #3b82f6, #60a5fa);
  }
  
  .home-container,
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
  }
  
  .home-container {
    margin-bottom: 2rem;
  }
  
  .home-container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1e3a8a;
    margin-bottom: 2rem;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .button {
    padding: 1.2rem 2.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .button:hover {
    background-color: #2563eb;
  }
  
  .page-container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1e3a8a;
    margin-bottom: 1.5rem;
  }
  
  .page-container p {
    font-size: 1.2rem;
    color: #4b5563;
  }
  /* Media query for mobile screens */
@media only screen and (max-width: 768px) {
  .app-container,
  .home-container,
  .page-container {
    width: 90%; /* Reduire la largeur des conteneurs */
    padding: 2rem; /* Réduire le remplissage des conteneurs */
    max-width: 100%; /* S'assurer que les conteneurs ne dépassent pas la largeur de l'écran */
  }

  .home-container h1,
  .page-container h1 {
    font-size: 2rem; /* Réduire la taille du titre */
    margin-bottom: 1.5rem; /* Réduire l'espacement sous le titre */
  }

  .button-container {
    margin-top: 1.5rem; /* Réduire l'espacement au-dessus du conteneur de boutons */
  }

  .button {
    padding: 1rem 2rem; /* Réduire le rembourrage des boutons */
    font-size: 1.2rem; /* Réduire la taille de la police des boutons */
    margin: 0 0.5rem; /* Réduire l'espacement entre les boutons */
  }
}
