
/* Overall container */

h1 {
  text-align: center;
  margin-bottom: 24px; /* Ajustez selon vos besoins */
  color: #333;
  font-size: 2.5rem;
}
 
  
  /* Overall container */
.container {
  width: 100%; /* Assure que le conteneur occupe toute la largeur */
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centrer le tableau horizontalement */
}

  
  thead {
    background-color: #f1f1f1;
  }
  
  th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    font-weight: 600;
    color: #333;
  }
  
  td {
    color: #555;
  }
  
  /* Button */
  button {
    
    color: #cd1515;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #fdfdfd;
  }