.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
  }
  
  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#3c88b5, #516c81);
    overflow: hidden;
  }
  
  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#3c88b5, #516c81);
    overflow: hidden;
  }
  
  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }
  
  /* Style pour élargir le formulaire */
  form {
    width: 500%;
  }
  
  /* Style pour centrer les éléments du formulaire */
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style pour ajuster la largeur des champs de saisie */
  .input-group {
    width: 100%;
  }
  
  /* Style pour ajuster la largeur du bouton */
  button[type="submit"] {
    width: 100%;
  }
  /* Media query pour les écrans de taille moyenne */
@media only screen and (max-width: 768px) {
  /* Réduire la largeur du formulaire pour les écrans plus petits */
  form {
    width: 90%;
    max-width: 400px;
    margin: 0 auto; /* Centrer le formulaire horizontalement */
  }
  
  /* Réduire la largeur des champs de saisie pour les écrans plus petits */
  .input-group {
    width: 100%;
  }
  
  /* Réduire la largeur du bouton de soumission pour les écrans plus petits */
  button[type="submit"] {
    width: 100%;
  }
}
