/* App.css */

/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Navbar styles */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

/* Header styles */
.homepage{
  text-align: center;
  padding: 50px 0;
  background-image: url('./Componenets/images/bgpic.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  
  color: #5b5c5b;
}

.home h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Carousel styles */
.slick-slider {
  margin: 0 auto;
  width: 80%;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 1;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

.slick-prev:hover,
.slick-next:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* Card styles */
.principles-values-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: left;
  cursor: pointer;
}

.card h3 {
  color: #333;
  margin-bottom: 10px;
}

.card p {
  color: #666;
}
