/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

/* Import Google Fonts just once */
:root {
  --transition-time: 2.3s;
}

/* Reset default margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  background-color: #ffffff; /* Background color */
}

/* Navbar styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 20px 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease-out;
  backdrop-filter: blur(8px) brightness(1.2);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  color: rgb(26, 123, 171);
  font-size: medium;
  z-index: 9999; /* Ensure navbar is on top of all elements */
}

nav.is-hidden {
  transform: translateY(-100%);
}

a {
  color: inherit;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #2b54a2;
  font-size: 20px;
}

/* Header styles */
.homepage {
  text-align: center;
  padding: 50px 0;
  background-image: url('./Components/images/bgpic.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Carousel styles */
.slick-slider {
  margin: 0 auto;
  width: 80%;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
  z-index: 1;
}

.slick-prev {
  left: -50px;
}

.slick-next {
  right: -50px;
}

/* Card styles */
.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: left;
  cursor: pointer;
}

.card h3 {
  margin-bottom: 10px;
}

/* Scrolling Text */
.scrolling-text-container {
  overflow: hidden;
  background: linear-gradient(to right, rgb(10, 77, 132), #6ba2cf);
  margin-top: 10px;
  padding: 1%;
}

.scrolling-text {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Recommandations Section */
#recommandations {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
}

#recommandations .heading h2 {
  font-size: 3.5em;
  font-weight: bold;
  background: linear-gradient(to right, rgb(10, 77, 132), #6ba2cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#recommandations .heading h2:hover {
  color: #ff0000;
  cursor: pointer;
}

/* Move Mot du Directeur section below the cards */
.principles-values-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* Adjust margin-top to create space between cards and Mot du Directeur section */
.motdedirecteur {
  margin-top: 50px; /* Ajustez cette valeur pour créer l'espace désiré */
  text-align: center; /* Centrer le texte */
  background-color: rgba(255, 255, 255, 0.645);
  padding: -0.5px;
  margin-left: 100px;
  margin-right: 100px;
}

.motdedirecteur img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  transition: transform 0.3s ease; /* Ajoute une transition fluide pour l'agrandissement */
}

.motdedirecteur img:hover {
  transform: scale(1.2); /* Agrandit l'image au survol */
}

/* Encadrement du div avec fond transparent */
.motdedirecteur {
  position: relative;
}

.motdedirecteur::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(255, 255, 255); /* Couleur et épaisseur du cadre */
  border-radius: 10px; /* Ajustez la valeur pour la forme du cadre */
  pointer-events: none; /* Permet aux événements de passer à travers, pour que seul l'image puisse être survolée */
}


/* Style for "Le Mot du Directeur" */
.dirword {
  font-size: 2.5em;
  font-weight: bold;
  background: linear-gradient(to right, rgb(10, 77, 132), #6ba2cf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo{
  

  
  
}
.titrechercheurs, .paragchercheur {
  background-color: white; /* Arrière-plan blanc */
  padding: 10px; /* Espacement intérieur */
  margin-left: -10px; /* Compensation pour le padding */
  margin-right: -10px; /* Compensation pour le padding */
}

.researchercards {
  overflow-x: hidden; /* Pour cacher tout contenu débordant horizontalement */
  background-color: rgba(255, 255, 255, 0.5); /* Fond blanc transparent */
  margin-top: 10px;
}

.row {
  display: flex; /* Pour permettre à tous les éléments enfants d'être sur la même ligne */
  transition: transform 0.3s ease; /* Pour une transition douce lors du glissement */
}

.col-md-4 {
  flex: 0 0 33.3333%; /* Pour que chaque carte prenne 33.3333% de largeur */
  max-width: 33.3333%; /* Pour que chaque carte ait une largeur maximale de 33.3333% */
}

.cardx {
  margin: 10px; /* Marge autour de chaque carte */
  border-radius: 5px; /* Pour des coins arrondis */
  overflow: hidden; /* Pour cacher tout contenu débordant */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour chaque carte */
}

.cardx img {
  width: 100%; /* Pour que l'image à l'intérieur de la carte soit de largeur 100% */
  height: auto; /* Pour conserver le rapport hauteur/largeur de l'image */
}

/* Effet de survol */
.cardx:hover {
  transform: translateY(-5px); /* Pour déplacer légèrement la carte vers le haut au survol */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Ombre plus prononcée au survol */
}

/* Pour les médias plus petits, ajustez les styles pour permettre le glissement horizontal */
@media (max-width: 768px) {
  .row {
    flex-wrap: nowrap; /* Pour empêcher le retour à la ligne des cartes */
  }
}

.containerpz {
  display: flex;
  justify-content: center; /* Centrer les éléments horizontalement */
  width: 100%; /* Utiliser toute la largeur disponible */
  overflow: hidden;
}

.lab-presentation, .objectifs {
  width: 48%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transform-origin: center; /* L'origine de la transformation sera le centre */
  animation: slideIn 2s ease-out;
  margin-top: 10px;
}

@keyframes slideIn {
  from {
      transform: scaleX(0); /* Départ : complètement fermé */
  }
  to {
      transform: scaleX(1); /* Arrivée : complètement ouvert */
  }
}